<script src="https://js.stripe.com/v3"></script>
<div class="row">
<div class="col-sm-6">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
  <% flash %>
    <h5 class="card-title"><%= link_to character.name, character %></h5>
    <p class="card-text"><%= character.element.element %></p>
    <p class="card-text"><%= character.rarity %>-Star</p>
    <p class="card-text"><%= character.description %></p>
    <p class="card-text"><%= number_to_currency(character.price/100) %></p>
    <p>
      <% if @cart.include?(character) %>
        <%= button_to "Remove from cart", remove_from_cart_path(character), method: :delete %>
      <% else %>
        <%= button_to "Add to cart", add_to_cart_path(character)%>
      <% end %>
    </p>


  </div>
</div>
</div>
</div>