<h1><%= @character.name %></h1>
<p><%= @character.rarity%>-Star</p>
<p><%= @character.element.element%></p>
<p><%= @character.constellation%></p>
<p><%= @character.description%></p>
<% if @character.image.present?%>
<div class="card-image">
      <figure class="image"><%= image_tag @character.image%></figure>
</div>
<% end %>
